.main {
	padding-top: 10px;
}
.nv-navigation {
	position: relative;
    box-shadow: 0px 2px 5px #ccc;
    background-color:#fefefe;
    margin: 0px; 
    padding: 0px; 
    width: 100%;
	z-index: 99;
	border-top: 1px #cecece solid;
	border-bottom: 1px #333 solid;
	float: left;
	clear:both;
}
.opacity .nv-navigation{
	opacity: 0.95;
}
.nv-navLeft{ display: inline-block; float: left; }
.nv-navRight{ display: inline-block; width: 20%; min-width: 200px; float: right;}

.nav-Body .nav-other { 
    /* Hide the text. */
	display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.nav-Body{
	background: url('/assets/images/top1.png') no-repeat center;
}

/*LEFT*/
.nv-document-list { 
	padding: 0px 0px;
	margin: 0px 0px;
	list-style: none;
}
.nv-document-list li{
	padding: 0px 0px;
	margin: 0px 0px;
	display: inline-block;
	float: left;
}
.nv-link{
	display: block;
	float: left;
	padding: 0.55em 0.5em;
	font-size: 10pt;
	line-height: 10pt;
	text-decoration: none;
	color: #666666;
	border-right: 1px solid #333;
	text-align: center;
}
.nav-type{
	float: left;
	clear: both;
	font-size: 10pt;
	line-height:10pt;
	cursor: pointer;
	width: 100%;
}
.nv-link-other{
	padding: 0.95em 0.5em;
}
.nav-other{
	cursor: pointer;
	width: 100%;	
} 
.nav-name{
	float: left;
	clear: both;
	font-size: 8pt;
	line-height:8pt;
	cursor: pointer;	
	width: 100%;	
}
/*RIGHT*/
.nv-navRight ol{
	padding: 0px 0px;
	margin: 0px 0px;
	list-style: none;
	float: right;
}
.nv-navRight li{
	padding: 0px 0px;
	margin: 0px 0px;
	display: inline-block;
	text-align: center;
	float: left;
}
.nv-print{
	display: inline-block;
	background: url("/assets/images/printer_32.png") center center no-repeat;
	width: 40px;
	height: 39px;
	float: right;
	border-left: 1px solid #666666;
}
.fn-navigation-link{
	color: #666666;
	display: inline-block;
	padding: 9px;
	font-size: 8pt;
	line-height:8pt;
	border-left: 1px solid #666666;
	text-decoration: none;
}
.fn-navigation-close{
	display: inline-block;
	height: 39px;
	width: 40px;
	float: right;
	background-color: brown;
}

.lt-ie9 .nav-other,
.lt-ie9 .nav-name,
.lt-ie9 .nav-type{
		width: auto;
}

.tmp-hide-print {
	display: inline; float: left;
}
 
/* =====================
	Footnotes
   ====================*/
.fn-link { background-color: #eee; }
.fn-anchor { background-color: #eee; }
.fn-footnote .fn-anchor { background-color: #eeeeaa; }
.fn-link, .fn-anchor{
	padding: 1px 3px 1px 3px;
	position: relative;
	text-decoration: none!important;
	border-bottom: 1px solid blue;
	color: blue;
}
/* ==========================================================================
   Inline Footnotes
   ========================================================================== */
.tmp-modal-box{
	position: relative;
	top: 0px;
	left: 0px;
    background-color: #ffffbb;
    border: solid 1px #cccccc;
    padding: 0px 0px;
    
	margin-top:5px;

    padding-top: 0em;
	padding-bottom:1.25em;
}
.tmp-modal-head, .tmp-modal-content{
	margin:0px;
	padding:0px;
}
.tmp-modal-head{
	background-color: white;
	margin: 0px;
	padding: 0px 0px;
    border-bottom: 1px solid #ccc;
}
.fn-modal-title{
	margin-left: 15px;
	font-weight: bold;
}
.tmp-modal-content{
	padding: 0px 10px;
}
.fn-modal-close{
	position: absolute;
	top: 0px;
}
.borderradius .fn-modal-close{
	margin-right: 1em;
}
.borderradius .tmp-modal-head{
    -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -khtml-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px;
}
.borderradius .tmp-modal-box, 
.borderradius .fn-parafootcontainer{
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px #ccc;
}
.fn-parafootcontainer{
	background-color: #ffffbb;/*#ffffcc;*/
    border: solid 1px #cccccc;
    padding: 0px 10px;
    padding-bottom: 10px;
    margin: 0% 2%;
}
a.fn-modal-close, a.fn-modal-close:visited, a.fn-modal-close:hover a.fn-modal-close { 
	color: blue;
}
/* ==========================================================================
   Endnote Footnotes
   ========================================================================== */
.fn-container { 
	margin: 0 2%; 
	background-color: #ffffbb;/*#ffffcc;*/
    border: solid 1px #cccccc;
    padding: 0px 10px;
    padding-bottom: 10px;
	margin: 0% 2%;
	
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	}
.fn-author{
	font-weight: bold;
}

/* ==========================================================================
   Aside
   ========================================================================== */  
.published-info { text-align: center; float: right; }
.published-info  .seal { width: 90%; margin: 0px auto; }
.published-info  .published-date { display: block; text-align: center; color: #666666; }
   
.tmp-aside-on{
	margin: 0px;
	position: fixed;
	background: url('/assets/images/aside.png') no-repeat bottom left;
	width: 150px;
	min-height: 50px;
	padding: 0px 0px 75px 0px;
	z-index: 98;
}

@media screen {
	.published-info { display: none; }
	.tmp-aside-on .published-info { display: block; }
	.lt-ie8 #tmp-style .published-info  { display: block; width: 150px;}
	.hide { 
		display: none;	
	}
}
@media print {
	p { position: relative; }
	.main-container { margin: 0px;}
	.nv-navigation, nav ol{ display: none;}
	.fn-link{
		color: black;
		background-color: white;
		text-decoration: none;
		border-bottom: 1px solid black;
	}
	.btn-site-logo { text-align: center; }
	.fn-footnote p { page-break-inside: avoid; }
	hr {
	    display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid black;
		margin: 0.25em 0;
		padding: 0;
	}
	.tmp-aside { display:none; }
	.fn-modal-close{ display:none; }
	#tmp-style .published-info { display: block; width: 150px; }
	.footer { display: none; }
}

/* Large desktop */
@media screen and (min-width: 1200px) { 
/* test */
.main-aside-on { width: 1000px; padding-right: 150px;  }
}

/* Large desktop */
@media screen and (min-width: 1024px) and (max-width: 1200px) { 
/* test */
.main-aside-on { width: 824px; padding-right: 150px;  }
}

/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 1024px) { 
/* test */
.main-aside-on { width: 568px; padding-right: 150px; }
}

/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) { 
/* test */
.tmp-aside { display: none; }
.fn-navigation-displaynotes, .nv-print{
	display: none;
	}
.published-info { display: block; width: 33%; margin: auto; float: none; }
.published-info  .seal { width: 100%; margin: 0px auto; }
}

#oscn-content blockquote * { font-size: 1em; line-height: 1.5em}





